<!-- footer.ejs

<footer style="position: absolute; bottom: 0; width: 100%; background-color: #afafaf; color: black;">
    <div class="footer-content" style="height: 5rem; display: flex; justify-content: center; align-items: center;">
        <span>&copy; OmgRod | MIT License</span>
    </div>
</footer> -->
