<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("modules/head") %>
  <%- include("modules/defaults") %>
  <title>Signup - Mediamix</title>
</head>

<body>
  <%- include("modules/navbar") %>
  <main class="m-4">
    <form action="/api/v1/createAccount" method="post">
        <h3>Signup</h3>
        <div>
            <label>Username:</label>
            <input name="username" type="text"/>
        </div>
        <div>
            <label>Email:</label>
            <input name="email" type="email"/>
        </div>
        <div>
            <label>Password:</label>
            <input name="password" type="password"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Create!</button>
        </div>
    </form>
    <a href="/login">Already have an account? Login here!</a>
  </main>
  <script src="js/script.js"></script>
  <script src="js/mobile.js"></script>
</body>

</html>
